USE Quanlybanhang
GO
IF OBJECT_ID('KHACHHANG') IS NOT NULL
DROP TABLE KHACHHANG
GO
CREATE TABLE KHACHHANG(
	MAKH NVARCHAR(10) NOT NULL,
	HOTEN NVARCHAR(20) NULL,
	DIACHI NVARCHAR(50) NULL,
	EMAIL NVARCHAR(20) NULL,
	DIENTHOAI NVARCHAR(10) NULL,
	CONSTRAINT PK_KHACHHANG PRIMARY KEY(MAKH)
)
IF OBJECT_ID('SANPHAM') IS NOT NULL
DROP TABLE SANPHAM
GO
CREATE TABLE SANPHAM(
	MASP NVARCHAR(10) NOT NULL,
	TENSP NVARCHAR(20) NULL,
	SOLUONG INT,
	DONGIA MONEY NULL,
	MOTA NVARCHAR(255) NULL,
	CONSTRAINT PK_SANPHAM PRIMARY KEY(MASP)
)
IF OBJECT_ID('HOADON') IS NOT NULL
DROP TABLE HOADON
GO
CREATE TABLE HOADON(
	MAHD NVARCHAR(10) NOT NULL,
	NGAYMUA DATE NULL,
	MAKH NVARCHAR(10) NOT NULL,
	TRANGTHAI NVARCHAR(30) NULL,
	CONSTRAINT PK_HOADON PRIMARY KEY(MAHD),
	CONSTRAINT FK_HOADON_KHACHHANG FOREIGN KEY(MAKH) REFERENCES KHACHHANG
)
IF OBJECT_ID('HOADONCT') IS NOT NULL
DROP TABLE HOADONCT
GO
CREATE TABLE HOADONCT(
	MAHD NVARCHAR(10) NOT NULL,
	MASP NVARCHAR(10) NOT NULL,
	SLBAN INT,
	CONSTRAINT PK_HOADONCT PRIMARY KEY(MAHD,MASP),
	CONSTRAINT FK_HOADONCT_HOADON FOREIGN KEY(MAHD) REFERENCES HOADON,
	CONSTRAINT FK_HOADONCT_SANPHAM FOREIGN KEY(MASP) REFERENCES SANPHAM
)
GO
ALTER TABLE HOADON DROP CONSTRAINT FK_HOADON_KHACHHANG
DELETE FROM KHACHHANG
INSERT INTO KHACHHANG VALUES('a1',N'Nguyễn Thành Nam',N'24/380 Bạch Đằng Chương dương','itachi1611@gmail.com','0934203620')
INSERT INTO KHACHHANG VALUES('a2',N'Nguyễn Tiến Lợi',N'38 Trần Đại Nghĩa','loint@fpt.edu.vn','0999999999')
INSERT INTO KHACHHANG VALUES('a3',N'Nguyễn Trần Hùng',N'42 Trần Quang Khải','hungnt@fpt.edu.vn','096741234')
GO
ALTER TABLE HOADONCT DROP CONSTRAINT FK_HOADONCT_SANPHAM
DELETE FROM SANPHAM
INSERT INTO SANPHAM VALUES('A0001',N'Máy tính xách tay',30,1000000,N'Máy mới 100%')
INSERT INTO SANPHAM VALUES('A0002',N'Máy in Canon',10,500000,N'Máy in công nghệ Nhật')
INSERT INTO SANPHAM VALUES('A0003',N'Máy in nhiệt',10,600000,N'Máy in nhiệt')
SELECT * FROM SANPHAM
GO
INSERT INTO HOADON VALUES('HD01','01/01/2000','a1','sold')
INSERT INTO HOADON VALUES('HD02','01/02/2000','a1','sold')
INSERT INTO HOADON VALUES('HD03','01/03/2000','a1','sold')
SELECT * FROM HOADON
GO
INSERT INTO HOADONCT VALUES('HD01','A0001',4)
INSERT INTO HOADONCT VALUES('HD02','A0003',5)
INSERT INTO HOADONCT VALUES('HD03','A0005',1)
SELECT * FROM HOADONCT

